
html{
    background: url(sources/pexels-wendywei-1190297.jpg) bottom;
    font-size: 1 rem;
    background-size:cover;
}
.keys{
    display:flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap:1rem;
    text-align: center;
}
.sounds{
    width:4rem;
    height:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: .2rem solid black;
    box-shadow: 5px;
    color: red;
    padding:.5rem;
    margin:1rem;
    transition:all 0.07s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    
}
.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
span{
    color: yellow;
    font-size: .5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
kbd{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

